
.question-container {
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    opacity: 0.8;
    width: 46rem;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.question {
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    opacity: 0.8;
} 

#name-input {
    width: 60%;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.option {
    display: flex;
}


@media (max-width: 768px) {
    .question-container,
    .question {
        padding: 0.8rem;
        margin: 0.2rem;
    }
}

