#pdf-content {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1200px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    word-wrap: break-word;
    line-height: 1;
}

.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: -4px;
}

.ul {
    background-color: rgb(233, 233, 233);
}

.mark {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-weight: bold;
}

.answer-container {
    display: flex;
    align-items: center;
}

img {
    height: 6rem;
}