<app-signature (signatureCaptured)="captureSignature($event)"></app-signature>

<div class="submit-container">
    <p class="alert" *ngIf="creating">{{'wait' | translate}}</p>
    <p class="alert" *ngIf="show_alert">{{'alert' | translate}}</p>
    <p class="alert" *ngIf="show_alert_name">{{'alert_name' | translate}}</p>
    <p class="alert" *ngIf="show_alert_signature">{{'alert_signature' | translate}}</p>
    <button class="submit" (click)="generatePDFfromHTML()">{{'submit'|translate}}</button>
</div>

<div id="pdf-content">
    <div *ngFor="let question of questions">
        <h3>{{ question.name | translate }}</h3>

        <div class="answer-container" *ngIf="question.answer">
            <p class="mark">x</p> {{'yes' | translate}}
            <p class="mark"></p> {{'no' | translate}}
        </div>
        <div class="answer-container" *ngIf="question.answer === false">
            <p class="mark"></p> {{'yes' | translate}}
            <p class="mark">x</p> {{'no' | translate}}
        </div>
        <div class="answer-container" *ngIf="question.answer === undefined">
            <p class="mark"></p> {{'yes' | translate}}
            <p class="mark"></p> {{'no' | translate}}
        </div>

        <div class="ul">
            <div class="li" *ngFor="let subquestion of question.subquestions">
                <p class="mark" *ngIf="subquestion.answer">x</p>
                <p class="mark" *ngIf="!subquestion.answer"></p>
                <p>{{ subquestion.name | translate }}</p>
            </div>
        </div>
    </div>
    <div>
        <h3>{{'signed' | translate}}: {{name}}, {{date}}</h3>
        <img [src]="signature" alt="sign">
    </div>
</div>