.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.submit {
    padding: 0.5rem;
    width: 10rem;
    background-color: green;
    color: white;
    border-radius: 0.3rem;
    font-weight: bold;
    border: none;
}

.submit:hover {
    background-color: rgb(8, 175, 8);
}

.alert {
    color: red;
    font-weight: bold;
}

#alerts-container {
    background-color: white;
    margin: 0.4rem;
    padding: 0.4rem;
    width: 100%;
    opacity: 0.8;
    border-radius: 0.3rem;
}