#pdf-content {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1200px;
    padding: 40px;
    box-sizing: border-box;

    font-family: Arial, sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1.6;
}

.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: -4px;
}

.ul {
    background-color: rgb(233, 233, 233);
}

.mark {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-weight: bold;
}

.answer-container {
    display: flex;
    align-items: center;
}

img {
    height: 6rem;
}

#input-text {
    display: flex;
    align-items: end;
}

#input-text p {
    margin-bottom: 0px;
}

#answer {
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    margin: 2px;
    width: 3rem;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.option {
    display: flex;
}

.main-input {
    display: flex;
    height: 2rem;
    align-items: center;
}