#pdf-content {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1200px;
    padding: 20px;
    box-sizing: border-box;

    font-family: Arial, sans-serif;
    font-size: 20px;
    word-wrap: break-word;
    line-height: 1.6;
}

#title-container {
    display: flex;
}

img {
    height: 6rem;
    margin: 0px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.option {
    display: flex;
}

p {
    margin: 0px;
}

h1 {
    margin: 0px;
}