<div class="question-container">
    <div id="title-container">
        <h1>{{'risk.title' | translate}}</h1>
    </div>
</div>


<div class="question-container">
    <p [innerHTML]="'risk.text1' | translate"></p>
    <div class="input-container">
        <p>{{'risk.I' | translate}}</p><input type="text" [(ngModel)]="name" (ngModelChange)="onNameChange()">
    </div>
    <p [innerHTML]="'risk.text2' | translate"></p>
    <div class="input-container">
        <p>{{'risk.I' | translate}}</p><input type="text" [(ngModel)]="name" (ngModelChange)="onNameChange()">
    </div>
    <p [innerHTML]="'risk.text3' | translate"></p>

</div>

<app-submit [form]="'risk'" [questions]="questions"></app-submit>