#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    padding: 1rem;
    height: 100%;
}

img {
    width: 1rem;
    height: 1rem;
}

#languages-container {
    display: flex;
    width: 48rem;
    justify-content: flex-end;
}

#languages-container button {
    border: none;
    background-color: rgb(92, 202, 230);
    margin: 0.1rem;
    padding: 0.2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
}

#languages-container button:hover {
    background-color: rgb(62, 144, 165);
}

.question-container {
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
}

.input-container {
    display: flex;
    flex-direction: row;
}


.question {
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    width: 46rem;
}

