#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    padding: 1rem;
    height: 100%;
}

app-nav-bar {
    width: 100%;
}


@media (max-width: 768px) {
    #main {
        padding: 0rem;
        margin: 0.2rem;
    }
}