<div id="main">
  <div id="languages-container">
    <button (click)="changeLanguage('en')"><img src="assets/img/en.png"></button>
    <button (click)="changeLanguage('es')"><img src="assets/img/es.png"></button>
    <button (click)="changeLanguage('fr')"><img src="assets/img/fr.png"></button>
    <button (click)="changeLanguage('ge')"><img src="assets/img/ge.png"></button>
  </div>

  <div class="question-container">
    <h1>Diver Medical | Participant Questionnaire</h1>

    <p> {{ 'intro' | translate }} </p>
    <p>{{'name'| translate}}</p>
    <input type="text">
  </div>

  <div *ngFor="let question of questions" class="question">
    <app-question [question_text]="question.name" (eventEmitter)="updateAnswer(question.name, $event)"></app-question>
  </div>

  <div class="question-container">
    <p [innerHTML]="'final_text' | translate"></p>
  </div>

  <app-submit></app-submit>

</div>