<div class="question-container">
    <div id="title-container">
        <h1>{{'rental.title' | translate}}</h1>
    </div>
</div>


<div class="question-container">
    <div id="input-text">
        <p [innerHTML]="'rental.text1' | translate"></p>
        <input type="text" [(ngModel)]="days">
        <p>{{'rental.days' | translate}}.</p>
    </div>
    <div *ngFor="let text of [2,3,4,5,6,7]">
        <p [innerHTML]="'rental.text'+text | translate"></p>
    </div>
</div>

<app-submit></app-submit>