
.question-container {
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    opacity: 0.8;
}

#name-input {
   display: flex;
   align-items: center;
}

#name-input input{
    height: 1rem;
    margin: 0.2rem;
    width: 60%;
}

#input-text {
    display: flex;
    align-items: end;
}

#input-text p {
    margin-bottom: 0px;
}

#input-text input {
    margin: 2px;
    width: 3rem;
}


@media (max-width: 768px) {
    .question-container {
        padding: 0.8rem;
        margin: 0.2rem;
    }
}

