
.question-container {
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    width: 46rem;
}

.input-container {
    display: flex;
    flex-direction: row;
}

