.question-container {
    padding: 1rem;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

.input-container p {
    margin: 0;
}

.subquestion {
    border-left: 2px solid #ccc;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .question-container {
        padding: 0.8rem;
        margin: 0.5rem;
    }

    .input-container {
        flex-direction: row;
        align-items: flex-start;
        gap: 0.2rem;
    }


}
