<div class="question-container">
    <p>{{question_text | translate}}</p>
    <div>
        <div class="input-container">
            <input type="checkbox" [(ngModel)]="answer_yes" (change)="toggleAnswer('yes')" />
            <p>{{ 'Yes' | translate }}</p>
        </div>
        <div class="input-container">
            <input type="checkbox" [(ngModel)]="answer_no" (change)="toggleAnswer('no')" />
            <p>{{ 'No' | translate }}</p>
        </div>
    </div>
    <div *ngIf="answer_yes && lebel == 'first'">
        <!-- <div> -->
        <div *ngFor="let question of questions" class="subquestion">
            <app-question [question_text]="question.name"></app-question>
          </div>
    </div>
</div>