<div class="question-container">
    <p>{{question_text | translate}}</p>
    <div>
        <div class="input-container">
            <input type="checkbox" [(ngModel)]="answer_yes" (change)="toggleAnswer('yes')" />
            <p>{{ 'yes' | translate }}</p>
        </div>
        <div class="input-container">
            <input type="checkbox" [(ngModel)]="answer_no" (change)="toggleAnswer('no')" />
            <p>{{ 'no' | translate }}</p>
        </div>
    </div>
    <div *ngIf="answer_yes">
        <p *ngIf="questions">I have/had:</p>
        <div *ngFor="let question of questions">
            <app-subquestion [question_text]="question.name" (eventEmitter)="updateSubanswer($event)"></app-subquestion>
        </div>
    </div>
</div>