<div id="pdf-content">
    <div id="title-container">
        <img id="logo" src="../assets/img/12divelogo.jpeg" alt="">
        <h1>{{'rental.title' | translate}}</h1>
    </div>
    <div class="question-container">
        <div id="input-text">
            <p [innerHTML]="'rental.text1' | translate"></p>
            <p id="answer"> {{questions[0].answer}} </p>
            <p>{{'rental.days' | translate}}.</p>
        </div>
        <div *ngFor="let text of [2,3,4,5,6,7]">
            <p [innerHTML]="'rental.text'+text | translate"></p>
        </div>
    </div>
    <div>
        <p [innerHTML]="'final_text' | translate"></p>
        <h3>{{'signed' | translate}}: {{name}}, {{date}}</h3>
        <img [src]="signature" alt="sign">
    </div>
</div>