body {
    display: flex;
    background-image: url('assets/img/dive.jpg'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
    }
}
